
 <div class="land-p1">
    <img src="/weddinglogo2.png" class="welcome-logo">
    </div>
 <div class="container">
 <div class="land-p2" id="page2">
    <h1>Greetings</h1>
     <div class="greeting-wrapper">
        <div class="greeting-photo">
         <img src="/chihiro-arata.gif" class="chihiro-arata">
        </div>
        <div class="greeting-message">
           <p>お互いの大切な人に、お互いを紹介できたら</p>
           <p>あとは楽しく飲んで話せたらいいなと考えています。</p>
           <p>日曜日の午後を一緒にゆったり過ごしましょう。</p>
           <p>ドレスコードはありません。（ごめんなさい、クロ―クもありません…）</p>
           <p>お気に入りのセーター、ジーンズ、スニーカーなど、</p>
           <p>あなたらしい服装で来てくださればうれしいです。</p>
   
            <p>お会いできるのを心から楽しみにしています！</p>
       </div>
      </div>
 </div>
 
 
  <div class="land-p3" id="page3">
    <h3>お久しぶりです　はじめまして</h3>
    <h1>Bride & Groom</h1>
     <div class="page3-photos">
       <img src="/chihiro-profile.gif" class="bride-grrom-photo">
       <img src="/profile_arata.gif" class="bride-grrom-photo">
     </div>
     <div class="whenwhere">
       <div class='when'>
         <h1>When</h2>
         <p>2018年11月11日</p>
         <p>12時半開場</p>
         <p>13時スタート</p>
       </div>
       <div class="where">
         <h1>Where</h2>
         <p>Lounge2343</p>
         <p>神奈川県厚木市飯山2343</p>
         <p>日比野設計さんの事務所３F</p>
       </div>
     </div>
  </div>
  
  
   <div class="land-p4" id="page4">
    <h1>Access</h1>
   <div class="acces-wrapper">
      <div class="gmap">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xQthJB6oDaOVvEUUxnbBROp7ZN08c3iU" width="440" height="440"></iframe>
      </div>
    
     <div class="access-content">
 
　　  <h3>当日はバスをだします！</h3>
      <p>※詳細は<a href="/place">こちら！</a></p>
     </div>
   </div>
 </div>
 
   <div class="land-p5" id="page5">
    <h4>ご出欠は<img src="/yes.png" class="yes-frame-samll">をクリック</h4>
    <h1>Would you come to our party?</h1>
    <a href="/attendance/new"><img src="/yes-panel.gif" class="yes-frame"></a>
    <a href="/attendance/cantcome"><img src="/sorry-panel.gif" class="yes-frame"></a>
   </div>
 

</div>