<div class="container">
 <div class="land-p1">
    <h1>This is the land page</h1>
    <img src="/weddinglogo.png" class="welcome-logo">
    </div>
 
 
 <div class="land-p2" id="page2">
    <h1>Greetings</h1>
     <div class="message">
         <p>お互いの大切な人に、お互いを紹介できたら</p>
         <p>あとは楽しく飲んで話せたらいいなと考えています。</p>
         <p>日曜日の午後を一緒にゆったり過ごしましょう</p>
         <p>ドレスコードハありません。（ごめんなさい、クロ―クもありません。）</p>
         <p>お気に入りのセーター、ジーンズ、スニーカーなど、</p>
         <p>あなたらしい服装で来てくだされば、嬉しいです。</p>
         <p></p>
         <p>お会いできるのを心から楽しみにしています！</p>
     </div>
 </div>
 
 
  <div class="land-p3" id="page3">
    <h3>お久しぶりです　はじめまして</h3>
    <h1>Bride & Groom</h1>
     <div class="message">
         <p></p>
     </div>
  </div>
  
   <div class="land-p4" id="page4">
    <h1>Access</h1>
    
   <div class="acces-wrapper">
      <div class="gmap">
        <iframe src="https://www.google.com/maps/d/u/0/embed?mid=1xQthJB6oDaOVvEUUxnbBROp7ZN08c3iU" width="440" height="440"></iframe>
      </div>
    
     <div class="access-content">
      <p>小田急線本厚木駅バス乗り場から</p>
      <p>1　[厚系統　東京工芸大行バス]にご乗車の上、<p>
      <p>   「東京工芸大前」でお降り頂くか、</p>
     </div>
   </div>
 </div>
 
   <div class="land-p5" id="page5">
    <h4>ご出欠は<img src="/yes.png" class="yes-frame-samll">をクリック</h4>
    <h1>Would you come to our party?</h1>
    <a href="/attendance/new"><img src="/yes.png" class="yes-frame"></a>
    <a href="/attendance/cantcome"><img src="/yes.png" class="yes-frame"></a>
   </div>
 

</div>