<div class="container">
     <h1>ただいま工事中！</h1>
     <h2>10月中旬を目安にアップします</h2>
   
     <div class="stepOne">
         
         <p></p>
     </div>
</div>
  <img src='/construction.jpg' id="construction">