<div class="container">
     <div class="bus-container">
     <h1 class="bus"> バス出します！</h1>
     <h2>12時15分ころ集合　12時30分発</h2>
     <h3>本厚木駅南口徒歩から2分　第一伊藤ビル前にお集り下さい。</h3>
   <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d812.6727473077501!2d139.3633428292204!3d35.437684091426405!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzXCsDI2JzE1LjciTiAxMznCsDIxJzUwLjAiRQ!5e0!3m2!1sja!2sca!4v1540587199869" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    <h4>※バスが長時間停車できないため、時間通りに出発いたします。ご容赦くださいませ。</h4>
     
      </div>   
        
</div>
