<h1>Attendance#new</h1>

<div class="attendance-form">
    
<%= form_tag("/attendance/create") do %>

<p>おなまえ</p>
<input name="name"  class="form-control">

<p>Email</p>
<input name="email"  class="form-control">

<p>苦手な食べ物（アレルギー等）</p>
<input name="allergy"  class="form-control">

<p>これまで出会ったなかで一番良い本・マンガ</p>
<input name="book"  class="form-control">

<p>と、その理由</p>
<textarea name="content" class="form-control" rows="4"></textarea>
<p></p>

<input type="submit">



<% end %>
</div>