<div class="container">

<div class="attendance-form">
<h1>Please register your info here!</h1>
<%= form_tag("/attendance/create") do %>

<p>おなまえ</p>
<input name="name"  class="form-control">

<p>メールアドレス</p>
<input name="email"  class="form-control">

<p>食べ物のアレルギーなど</p>
<input name="allergy"  class="form-control">

<p>一番好きな本/マンガ/映画/音楽</p>
<input name="book"  class="form-control">

<p>と、その理由</p>
<textarea name="content" class="form-control" rows="4"></textarea>
<p></p>

<input type="image"
src="/sankabutton.png" alt="送信"
width="165px">


<% end %>
</div>
</div>