<div class="container">
    
<img src="/sorry.png" class="sorry">

<div class="attendance-form">
    
<%= form_tag("/attendance/sorrysend") do %>
<p>おなまえ</p>
<input name="name"  class="form-control">

<input type="submit" class="sorry-submit">

<% end %>
</div>
</div>