<div class="container">
<h1>Create User!</h1>
<!--
<#%= form_for @user, url: user_create_path do |f| %>

  <div><#%= f.text_field :name, class: "name", name="username" %></div>
  <#%= f.submit %>
<%# end %>
-->

<%= form_tag("/user/create") do %>
    <p>User</p>
    <input name="name">
    <input type="submit">
    <%= check_box_tag(:admin) %>
    <%= label_tag(:admin, "I am admin User") %> </br>
<% end %>
</div>
