@import "bootstrap-sprockets";
@import "bootstrap";


@font-face {
  font-family: 'honoka';  //font-name
  src: font-url("/assets/honokamarugo-forweb.eot");
  src: font-url("/assets/honokamarugo-forweb.woff") format("woff"), font-url("/assets/honokamarugo-forweb.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'caveat';  //font-name
  src: font-url("/assets/caveat.eot");
  src: font-url("/assets/caveat.woff") format("woff"), font-url("/assets/caveat.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.navbar{
    background-color:transparent;
    border:none;
    font-family: 'honoka'; 
    position: fixed; /* ヘッダーを固定(これが重要) */
    top: 0; /* 固定する位置 */
    left: 0; /* 固定する位置 */
    right: 0;  /* 固定する位置 */
}

.navbar-brand{
    padding-top:0px;
    margin-top:0px;
}

.navbar-right{
     //float:right;
     padding-right:0;
     margin-right:0;
}

.nav-logo{
    padding-top:0px;
    margin-top:0px;
    width:80px;
    //float:left;
}

.navbar-content{
   // float:left;
}


.container{
    margin-top:80px;
    text-align:center;
    font-family:'honoka';
}

.container h1 p{
    font-family:'honoka';
}


.home-login{
    text-align:center;
    margin:0 auto;
    margin-bottom:100px;
}

.home-login-link{
      font-size:100px;
      font-family:'caveat';
      text-decoration:none;
      color:black;
}

.dotline{
    width:35%;
}

.login-page{
    padding-top:100px;
}

.key{
    width:6%;
}

.login-button{
    font-size:80px;
    font-family:'caveat';
    margin-top:20px;
    border:none;
    background-color:transparent;
}
.welcome-logo{
    width:40%;
}

.thankyou{
    padding-top:70px;
    font-family:'caveat';
    font-size:100px;
}

.dove{
    width:10%;
    margin-left:250px;
}

.sorry{
    width:50%;
}

.attendance-form p {
}

.thankyou-container p {
    font-size:23px;
}

.yes-frame{
    width:20%;
    margin-left:40px;
    margin-right:40px;
}

.sorry-submit{
    margin-top:20px;
    margin-bottom:50px;
}

#attendnace-yes{
    position:relative;
}

#doodle-yes{
    width:15%;
    position:absolute;
    
    
}

.yes-frame-samll{
    width:3%;
}



.access-wrapper{
    margin-top:50px;
    width:80%;
}
.gmap{
    float:left;
    margin-right:10%;
    margin-left:5%;
}

.access-content{
    //float:right;
    text-align:left;
    //margin-left:100px;
}



@media (max-width: 670px) {
.container{
   width:100;
}

.gmap{
    text-align:center;
    //width:70%;
    float:none;
    margin:0 auto;
    //margin-right:10%;
   // margin-left:5%;
}

.gmap iframe{
    text-align:center;
    width:300px;
    height:300px;
    margin:0 auto;
    
}

.access-content{
    margin-top:30px;
    //float:right;
    //text-align:left;
    //margin-left:100px;
}

.navbar-brand{
    display:none;
}
.welcome-logo{
    width:70%;
}
.home-login{
    font-size:15px;
    text-align:center;
    margin:0 auto;
    margin-bottom:100px;
}

}