// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.land-p1{
    height:500px;
}


.land-p1 h1{
     font-family:'caveat';
     font-size:60px;
}

.land-p2{
    height:600px;
}

.land-p2 h1{
    padding-top:50px;
     font-family:'caveat';
     font-size:60px;
}

.land-p3{
    height:700px;
}

.land-p3 h3{
     padding-top:50px;
}

.land-p3 h1{
     font-family:'caveat';
     font-size:60px;
}

.land-p4 h1{
    padding-top:50px;
     font-family:'caveat';
     font-size:60px;
     padding-bottom:80px;
}
.land-p4{
    padding-top:50px;
    height:700px;
}

.land-p5 h1{
     font-family:'caveat';
     font-size:60px;
}

.land-p5 h4{
   padding-top:70px;  
}

.land-p5{
    height:700px;
}

.message{
    margin-left:500px;
    width:40%;
}
.message p{
    float:left;
}


.greeting-wrapper{
    margin-top:50px;
    padding-top:60px;
    margin: 0 auto;
    text-align:center;
    //background-color:yellow;
    width:70%;
}

.chihiro-arata {
    //text-align:center;
    float:left;
    display: inline;
    width:25%;
    margin-left:80px;
    margin-right:100px;
}

.greeting-message{
    
    display: inline;
    text-align:left;
}

.bride-grrom-photo {
    width:24%;
    margin:0 40px;
}

.whenwhere {
    margin-top:50px;
}

.when {
    display: inline-block;
    //float:left;
    
    margin-right:100px;
    width:250px;
}

.where {
    padding-left:40px;
    display: inline-block;
    //float:right;
     
     width:250px;
}

#construction {
    width:100%;
    opacity:0.6;
}

@media (max-width: 670px) {
   .land-p1{
    height:250px;
}
  .welcome-logo{
      width:80%;
  }
  
  .yes-frame{
      width:30%;
       margin-left:10px;
    margin-right:10px;
  }
  
  .chihiro-arata {
    //text-align:center;
    float:none;
    display: inline;
    width:65%;
    margin-left:0px;
    margin-right:0px;
}

.greeting-wrapper{
    margin-top:0px;
    padding-top:20px;
    margin: 0 auto;
    text-align:center;
    //background-color:yellow;
    width:90%;
}

.greeting-message{
    width:100%;
    display: block;
    text-align:center;
}

.greeting-message p{
    font-size:13px;
}

.land-p3 h3{
     margin-top:100px;
     padding-top:50px;
     font-size:20px;
}

.land-p5 {
}

.bride-grrom-photo {
    width:38%;
    margin:0 15px;
}

.whenwhere {
    margin-top:20px;
    text-align:center;
}

.when {
    display:block;
    text-align:center;
    //float:left;
    //margin-right:100px;
    //width:80px;
    margin:0 auto;
}

.where {
    padding-left:0px;
    display:block;
    text-align:center;
    float:none;
    // width:80px;
    margin:0 auto;
    //background-color:grey;
}

.where h2{
    text-align:center;
    margin-right:5%;
}

.land-p5{
    padding-top:60px;
    height:550px;
}


.land-p5 h4{
   padding-top:90px;  
}

.greeting-message{
    margin-bottom:50px;
    padding-bottom:30px;
}

.land-p3{
    padding-top:70px;
}

    
}