// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.land-p1{
    height:800px;
}

.land-p1 h1{
     font-family:'caveat';
     font-size:60px;
}

.land-p2{
    height:800px;
}

.land-p2 h1{
     font-family:'caveat';
     font-size:60px;
}

.land-p3{
    height:800px;
}

.land-p3 h1{
     font-family:'caveat';
     font-size:60px;
}

.land-p4 h1{
     font-family:'caveat';
     font-size:60px;
     padding-bottom:80px;
}
.land-p4{
    height:800px;
}

.land-p5 h1{
     font-family:'caveat';
     font-size:60px;
     
}

.land-p5{
    height:800px;
}

.message{
    margin-left:500px;
    width:40%;
}
.message p{
    float:left;
}